@import url("./fonts.css");
@import url("./colors.css");
@import url("./layout.css");
@import url("./typography.css");
@import url("./inputs.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir, sans-serif;
    transition: 0.5s;
}